@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:RObota, sans-serif;
}

body{
    background: #f5f5f5;
}


/* navbar stayling */
nav{
    background: #232f3e;
    color: #ffff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px;
}

.search-container input,button{
    padding: 5px 10px;
    border: none;
    font-size: 16px;
}

.search-container input
{
    border-radius: 3px 0 0 3px;
}

.search-container button
{
    border-radius: 0px 3px 3px 3px;
    background: #f5c518;
    cursor: pointer;
    transition: all 0.2s;
}

.search-container button:hover {
    background: #ffdd45;
}

/* main section styling */

main{
    max-width: 1200px;
    margin: 0 auto;
    margin-block:  38px;
    min-height: 64vh;

}

main section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64vh;
    
}

.movie-container{
    display: flex;
    background: #ffff;;
    box-shadow: 0px 0px 10px #ccc;
    width: 80%;
    border-radius: 5px;
    justify-content: center;
}

.movie-poster{
    height: 450px;
    margin-right: 30px;
    border-radius: 5px 0  0 5px;
}

.movie-info h2{
    text-align: center;
    font-size: 32px;
    margin: 20px  0 12px 0;
}

.movie-info h2+p{
    text-align: center;
}

.movie-info .movie-genre{
    display: flex;
    justify-content: center;
    margin-block: 10px;
    overflow-x: scroll;
}
.movie-info .movie-genre p{
    background: #232f3e;
    color: #fff;
    padding: 5px 14px;
    margin-inline: 5px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.movie-info p{
    font-size: 18px;
    margin-block: 16px;
    line-height: 25px;
}

.movie-container.noBackground{
    background: none;
    box-shadow: none;

}
/* footer styaling */

footer{
    text-align: center;
    background: #232f32;
    color: #f5f5f5;
    padding-block: 20px;
    margin-top: 20px;
}


/* Resopsive code */

@media screen and  (max-width:950px){
    .movie-container{
        flex-direction: column;
    }

    .movie-poster img{
        width: 100%;
        height: fit-content;
        margin: 0;
    }

    .movie-info{
        padding-inline :30px;
    }
}

@media screen and  (max-width:600px)
{
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-container{
        margin-top: 12px;
    }

    .movie-container.movie-container.noBackground{
        background: none;
        box-shadow: none;
        align-items: center;
        justify-content: center;
    }
}